[2018-08-16 08:19] CanKattwinkel opened #1 "Zoom on Mobile Bug"
Repro: Zoom on mobile

Fix: Inspect for the resize event

[2018-08-16 20:04] miked1090 opened #2 "Multiple Sticky Tabs Support"
It looks like it's pretty close to supporting multiple sticky tabs already, the only issue I notice is when it gets to another sticky tab, the first one will overtake the second one until the second header is scrolled past.

Here is an example of the issue.
https://stackblitz.com/edit/github-vtekep

[2018-08-16 21:52] CanKattwinkel commented on #2
Thanks for the effort!

Multiple use should be possible, you are right. The question is, what would be the best behaviour?

Either **a)** Header 1 is "sliding" under Header 2 or **b)** stop points are implemented as seen here:
http://somewebmedia.com/hc-sticky/demo_3.html

[2018-08-17 19:47] miked1090 commented on #2
Anytime :)

I personally like option b better, but they both seem like valid ways to handle it.

[2018-08-22 09:00] macjohnny opened #3 "Automatically calculate spacer"
Hi there

I have the following suggestion: you could automatically add a spacer and set its height to the height of the sticky element, which would be correct for many use cases.

[2018-09-04 05:49] CanKattwinkel opened #4 "Move readme to npm package"

[2018-09-04 18:33] CanKattwinkel commented on #2
The first version with "boundaries" was implemented in version `0.2.0`. The feature is still in beta and probably needs some more work but the API should be stable:

https://github.com/w11k/angular-sticky-things#boundary-elements

[2018-09-04 18:33] #2 closed

[2018-09-15 23:14] #4 closed

[2018-11-20 12:44] aleesaan opened #7 "AoT compilation still broken"
Hi again, I see the last commit reverted the fix I pushed in my last [PR](https://github.com/w11k/angular-sticky-things/pull/5), I'm not sure what happened. Could you have a look?

[2018-11-20 13:10] CanKattwinkel commented on #7
Oh, I think I played myself.. At first, I was too fast with merging your Pull-Request since it was going into the master and this repo is following Git Flow where commits should be going into the develop branch.

Then I cleaned the master via gui and unfixed it during the local merge. Sorry about that but on npm there is the correct version. I'll create an hotfix cleaning up the gitty thingy. ;)

[2018-11-20 13:17] CanKattwinkel commented on #7
Due to the small time window, I allowed myself a force push with the fixed merge. Repo should now represent the state on npm, sorry for the inconvenience!

[2018-11-20 13:17] #7 closed

[2018-12-04 10:22] CanKattwinkel opened #11 "Publish of demo is broken"

[2018-12-11 12:05] chrisj74 opened #13 "Template parse error"
Hi,

Have added package via npm, included in app.module.ts and used the snippet from the example code.

I get the following error

`Error: Template parse errors:
Can't bind to 'spacer' since it isn't a known property of 'div'. ("rHtml]="category.categoryName" class="flex-grow"></h2>

      <div #spacer></div>

<div stickyThing [ERROR ->][spacer]="spacer">STUCK</div>
`
Using   "@angular/core": "^6.

[2018-12-11 12:17] CanKattwinkel commented on #13
Have you added the `stickyThing` directive? Since the spacer is an Input.

**Working example:**
https://stackblitz.com/edit/angular-z3itfx?file=src%2Fapp%2Fapp.component.html

[2018-12-12 11:38] aleesaan opened #14 "Support for dynamic sticky element's height"
Hi again,

I was wondering what you think about adding support for a changing height in the sticky element - aka firing again the calculations whenever the sticky element's height change.
I have this problem with internationalization (i18n) in my app: if you have a sticky element with some text inside, and then change language, the new texts could cause the element's height to be different, which

[2018-12-12 12:17] CanKattwinkel commented on #14
This will be a pretty common issue for dynamic contents of the sticky element. Thanks for bringing this up!

I see two possible solutions when I think about this:
- Provide an input which either takes in a primitive value as a trigger or a stream. Anytime the input / stream triggers -> repaint. The responsibility of implementing the watch mechanism is with the developer.
- Implement the MutationOb

[2018-12-12 12:18] CanKattwinkel commented on #13
I'll close this, please re-open if you still see this error.

[2018-12-12 12:18] #13 closed

[2018-12-12 17:57] aleesaan commented on #14
I agree with the first one too, as I'd rather not using the MutationObserver, but I thought to just expose a `recalculate()` method from the directive, that you could call whenever needed. I'll try opening a PR so you can see what it looks like, and if you still prefer the input stream I can change it later!

[2018-12-13 17:13] jaetea opened #16 "MarginTop not being calcuted properly until browser resized"
I'm running this in an angular app. The one component I have made sticky with a marginTop of 72 doesn't stick until its past the top of the browser window, then will jump to where it should be.

If I resize my browser window it will work properly.

Intial page load (red is sticky element)
![image](https://user-images.githubusercontent.com/3731879/49955120-14c66880-fed0-11e8-98d8-ea043efebfed.png)

[2018-12-31 16:10] CanKattwinkel commented on #16
@robertsmith2 @jaetea should be fixed in version 1.1.0!

For any more corner cases there is now a recalculate method exposed.

Thanks for the bug report!

[2018-12-31 16:10] #16 closed

[2018-12-31 16:17] CanKattwinkel commented on #14
Support for `recalculate()` has landed in 1.1.0 based on your efforts. Thanks a lot for your work!

[2018-12-31 16:17] #14 closed

[2019-01-04 14:33] jaetea opened #17 "Opening dialog window with overlay causes sticky header to disappear"
We leverage Angular Material. When you open a dialog window the "is-sticky" class gets removed from the sticky component and the spacer size it set to zero.

Once you close the dialog it reappears.

![image](https://user-images.githubusercontent.com/3731879/50693030-ca826400-1003-11e9-95f2-23bb3db19b53.png)

![image](https://user-images.githubusercontent.com/3731879/50693048-d706bc80-1003-11e9-9a6

[2019-01-04 14:34] jaetea opened #18 "Publish new version to npm registry"
Can you publish the update to npm?

[2019-01-05 10:08] CanKattwinkel commented on #18
I'm sorry, apparently, the pipeline failed due to a problem with the docker image for the e2e tests.

I just did a manual [release](https://www.npmjs.com/package/@w11k/angular-sticky-things/v/1.1.0).

[2019-01-05 10:09] CanKattwinkel opened #19 "Fix CI"

[2019-01-05 10:10] #18 closed

[2019-01-05 10:20] CanKattwinkel commented on #17
Thank you for reporting the issue!

I'll try to look at it by the end of next week. If you want to speed up things, you can provide a fork of this repository with a mat dialog in the demo page.

[2019-01-07 12:03] aleesaan opened #21 "Enable flag handling"
I just had a look at the new stream approach and think it's much better to have everything unified in one stream!
Yet, I think the logic of the `enable` flag should be separate, as it was before. This is for two reasons:
1. At the moment we keep the subscription always open (even when `enable = false`), which will emit / trigger the logic every scroll and resize.
2. I don't really like the additio

[2019-01-07 14:07] jaetea commented on #17
This seems to be an issue with the way material handles scrolllock, not with sticky things. Closing

[2019-01-07 14:07] #17 closed

[2019-01-22 08:11] kamechb opened #22 "sticky elements flash on safari"
![stickyflash](https://user-images.githubusercontent.com/208991/51521017-454eda00-1e60-11e9-84d7-c08fc57cf051.gif)

[2019-01-23 06:09] vijaycreatise opened #23 "MarginTop & Height is getting added and creating more gap"
When we give marginTop and spacer. For spacer it is adding both marginTop and height of the div. So it is creating jerk.  And some times instead of adding the numbers it is concatenating the numbers.
Means, If height is 100px and marginTop is  60, instead of 160px it become 10060px.

I know the solution for both problems.

Instead of above it should be

This should not be spacerHeight , this shoul

[2019-02-04 00:31] Denis-Evseev opened #24 "The sticky library doesn't work"
Thank you for the library

I have tried to install it to my Angular 7 App but it doesn't work anywhere.
The installation was done in line with documentation:
1) installed the package
2) added the installed module to app.module.ts + imports
3) inserted on the top of my app:
[code]

But doesn't work.. Tried app.component, with boundary - still doesn't work
Please help
Cheers

[2019-02-07 10:05] aleesaan commented on #23
Hi,

I addressed this issue in a [PR I opened recently](https://github.com/w11k/angular-sticky-things/pull/20), which is in turn fixing some other issues we had before. You can read more about it in the PR's description and linked threads. I'm waiting for the owner's response regarding this, but it should be fixed as soon as that's merged!

[2019-02-13 13:18] matthiasfritsch commented on #24
Same here. Not working on Angular 7...

[2019-02-16 20:42] CanKattwinkel commented on #24
Hi @matthiasfritsch and @Denis-Evseev,

could you please check if there are any runtime errors? I just created an example with Angular 7 and it works for me. I'm confident, we'll fix this issue shortly.

https://stackblitz.com/edit/angular-5pkty4?file=src%2Fapp%2Fapp.component.html

[2019-02-18 14:21] matthiasfritsch commented on #24
Thank you for the reply!
Your sticky works for me now, but my case the problem was a `overflow:auto` inside a `<div>` above.
Now I will wait for the MarginTop-Fix (https://github.com/w11k/angular-sticky-things/issues/23) :)
Thank you for the awesome work!

[2019-02-18 14:42] CanKattwinkel commented on #24
Already on #23

Sorry, currently I have exams and therefore limited time. Expect the fix to be merged (plus covered with tests by this or next week)

[2019-02-18 14:42] #24 closed

[2019-02-20 22:31] ciukstar opened #25 "stickyThing not working inside a mat-sidenav-content"
Hi!

It seems that `stickyThing` is not working "inside" a `mat-sidenav-content` of a `mat-sidenav-container`. Is it possible to make it work? How about `stickyThing` "inside" a `mat-sidenav-content` of a `mat-sidenav-container` of a `mat-sidenav-content` of a `mat-sidenav-container`?

Thanks!

[2019-02-21 07:40] CanKattwinkel commented on #25
Hey @ciukstar,

thank you for your report! I just gave it a shot in a forked StackBlitz and I can confirm the issue you are describing. I already have a suspicion, Material sets the content component to `position:absolute, l0,r0,t0,b0`. This not only leads to some issues with scrolling on IPhones but also to an issue with Sticky Things since the body no longer scrolls, but another target. I'll loo

[2019-02-21 15:34] ciukstar commented on #25
It would be great if `stickyThing` would work when wrapped in a scrollable `mat-sidenav-container`.

My concrete scenario is a `stickyThing` wrapped in a `mat-sidenav-content` wrapped in a `mat-sidenav-container` which is wrapped in a **scrollable** `mat-sidenav-content` of a `mat-sidenav-container`.

Thanks a lot!

[2019-02-25 16:31] sergegl commented on #25
Hello,

I have a similar issue, I am trying to use stickyThing inside absolute position element.
For example its set to top: 0, right: 0, left: 0, bottom: 0.

Hopefully there is a solution.

Thanks!

[2019-03-04 14:50] CanKattwinkel opened #29 "Publish nightly version @next"
In order to enable quick testing of new features, there should be a CI task that publishes on the @next channel. Since the version must be incremented, two ways come to my mind:

**Option a)**
Remove the most recent version and just re-publish
[code]

**Option b)**
Publish a version along with some sort of timestamp:
[code]

**Option c)**
Publish a prerelease version
[code]

Since Option C probabl

[2019-03-04 14:54] CanKattwinkel commented on #29
Instead of nightly, publish on any commit on develop branch

[2019-03-04 15:33] CanKattwinkel commented on #25
Please test with version 1.1.2. You can now specify the scroll container element. Not sure if any usecase is covered, my minimal example currently covers a position absolute element that has a scroll bar:

https://w11k.github.io/angular-sticky-things/posa

In order to specify a scroll container:
[code]

Use anything that can be evaluated by `document.querySelector` or pass in a html element.

Wait

[2019-03-04 18:44] sergegl commented on #25
Awesome, I think this should work fine, will test later.
I was about to fork your library, but was busy with other work, so kudos for you for a quick response!

[2019-03-04 21:58] sergegl commented on #25
I just tested, and it works, thanks!

**Small issue I encountered**.
When I bind the value as marginTop=30, it didn't work. I had to use it as [marginTop]=30 instead. it was adding the value as a string concat instead adding two numbers together. So if my object is 100px height it would return a spacer height as 10030px instead of 130px.

Thanks again.

[2019-03-05 10:19] CanKattwinkel commented on #25
Thanks for the review. Yepp, its a known issue that has already been fixed by another user. Will be released soon! https://github.com/w11k/angular-sticky-things/pull/26

[2019-03-05 10:19] #25 closed

[2019-03-05 12:01] CanKattwinkel opened #30 "ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'removeEventListener' of null"
Repro

1. Go to: https://w11k.github.io/angular-sticky-things/review/develop/index.html#/posa
2. change url to e.g. /dev , see error

[2019-03-05 15:01] ciukstar commented on #25
Yes it works. Thank you very much!

[2019-03-06 11:53] aleesaan opened #31 "HostBindings not working with ChangeDetectionStrategy.OnPush"
If the app uses `ChangeDetectionStrategy.OnPush` (good practice to avoid unnecessary change detection cycles), the classes from the `HostBindings` won't be applied.

[2019-03-08 01:46] robert-king opened #32 "use css position: sticky"
FYI, I was able to replace this:

[code]

with this:
[code]

[code]

[2019-03-13 01:33] ciukstar opened #33 "Warnings while updating to angular 7.2.9"
Warnings  on `$ ng update @angular/core` while updating to angular 2.7.9

`Package "@w11k/angular-sticky-things" has an incompatible peer dependency to "@angular/common" (requires "^4.0.0 || ^8.0.0" (extended), would install "7.2.9").`

Forces me to use `$ ng update @angular/core --force`

[2019-03-19 07:20] kaito3desuyo opened #34 "Cannot find name 'DOMRect'"
Hello.

I use angular-sticky-things@1.1.2 with Angular 5.2.8. However, I get the following error.

ERROR in node_modules/@w11k/angular-sticky-things/lib/sticky-thing.directive.d.ts(40,53): error TS2304: Cannot find name 'DOMRect'.

Is there a solution?

[2019-03-22 08:51] brdzamasina commented on #34
I have exactly the same issue..

[2019-04-04 11:51] ciukstar commented on #33
Context: Checking for updates:
[code]
Context: Updating:
[code]
Works with `$ ng update @angular/cli @angular/core --force` but still annoying...

[2019-04-04 13:37] aspramsh opened #35 "Cannot read property 'addEventListener' of null."
When I add this
`stickyThing="" [scrollContainer]="'.scroll-container'" `
I get the following error:

Could someone help please?
After adding this to .ts file

`@HostBinding('class') class = 'scroll-container'`
I get this error:

[2019-04-05 05:21] mailiam opened #36 "Add ghost/placeholder take up space"
sticky element would collapse stacking when fixed.

to prevent layout bug, fixed element should create placeholder to take up space where it has been before.

current workaround is to wrap `stickyThing` with a div with fixed size.

[2019-04-24 08:55] stefanseeger commented on #32
Hello,
actually when you are using position:sticky you can simply scrap all this code.
Because it is doing the same thing just native by the browser.
But be aware that it is not supported by Internet Explorer before Edge.

[2019-04-30 08:38] #3 closed

[2019-04-30 18:33] taivu opened #37 "feature request: @output event?"
this is a feature request. It would be nice to have an event emitted so once something is 'sticky-ed', we can do something programmatically to react to it (showing a notification or getting data, etc).

thanks for your time.

[2019-05-07 18:02] comemanu commented on #34
same

[2019-05-10 14:54] CapitanFindusFI commented on #37
@taivu I made a pull request for this as I needed this feature too #38

[2019-06-04 11:29] vipultaylor commented on #23
This issue continues to exist as the height and margintop get concatenated

[2019-06-11 21:27] JaxonWright commented on #36
I kind of assumed this already did this. This is a must-have in order to make content not jolt upwards when transitioning the element to be sticky.

[2019-06-12 06:21] Krish-Kannaa opened #39 "[scrollContainer]="'.scroll-container'" is not working"
**HTML FILE**
<div class="scroll-container" >
  <div #spacer></div>
  <div [spacer]="spacer" stickyThing="" [scrollContainer]="'.scroll-container'" >
    Scroll by!
  </div>
</div>

![image](https://user-images.githubusercontent.com/8122736/59327818-5497cc80-8d08-11e9-98f1-f9bd38d5e51d.png)

**CSS FILE**

.scroll-container
{
  background-color:aquamarine;
  height:1000px;
}

this is my code.

[2019-06-21 01:46] CCinCapital commented on #23
I'm facing the same issue right now, here's a temporary fix IFF you know the container size:

[code]

`
.nav {
  &.is-sticky ~ .nav-spacer {
    height: 54px; // the container size
  }
}
`

[2019-07-03 06:36] csimpi opened #40 "Wrong size calculation with `marginTop`"
Hi,
something is wrong with the spacer's size calculation method when I use `marginTop` attribute.
It handles the margin's value as a string and the height + margin values are concatenated as strings like: 5080px. The spacer covers my whole screen.

[2019-07-30 11:37] michaelkrone opened #41 "Angular 8 Ivy Support"
Compiling an application with angular-sticky-things as dependency fails with the following errors:

```WARNING in Entry point '@w11k/angular-sticky-things' contains deep imports into '//Development/projekt/node_modules/rxjs/internal/scheduler/animationFrame'. This is probably not a problem, but may cause the compilation of entry points to be out of order.```

```ERROR in Cannot combine @Input deco

[2019-08-02 07:41] wisespace-io opened #42 "Sticky to the component bottom?"
Is it possible sticky to the bottom using this component? I have a sidebar, so when the user reaches to the bottom of the
sidebar, the bottom edge should stay stuck to the bottom of the browser window.
Similar effect the second example "Scrollable Sticky Element" on this page: https://abouolia.github.io/sticky-sidebar/#examples.
Observe that the red column on the left stops scrolling when its bott

[2019-08-22 12:55] tobiasatw11k commented on #42
Hello wisespace-io, yes you can define a section as a boundary for your sidebar like so

`<section class="color-1" #boundary1>
    <div class="container wrap">
        <div class="row">
            <div class="col-6">
                <div #spacer1></div>
            <nav id="your sidebar" stickyThing="" [spacer]="spacer1" [boundary]="boundary1">
                <ul>
                    <li>Home</l

[2019-08-31 07:59] #42 closed

[2019-09-23 14:12] JohannesW11K commented on #40
Duplicate of #23 . Fix coming with the next release!

[2019-09-23 14:12] #40 closed

[2019-09-26 13:20] JohannesW11K commented on #32
`position: sticky` does the job quite well. But as mentioned the Browser-support isn't the best and polyfills would need javascript aswell anyways.

[2019-09-26 13:20] #32 closed

[2019-09-26 13:23] JohannesW11K commented on #23
The fix for this issue will come with the next release.

[2019-09-26 13:23] #23 closed

[2019-09-26 19:05] stefanseeger commented on #32
Just one final comment because of completeness. To make it also work on Safari, you will need to use the vendor prefix in css.

[code]

[2019-09-29 18:36] anelad commented on #25
I'm still cannot make it work. Tried everything mentioned in the comments one by one...

[2019-10-16 07:38] norbertnagy commented on #22
Hi, I have the same issue. Is there any resolution for it ?

[2019-10-23 16:21] dasp24 opened #47 "unable to use"
This is the error I'm getting:

ERROR in node_modules/@w11k/angular-sticky-things/lib/sticky-thing.directive.d.ts(58,53): error TS2304: Cannot find name 'DOMRect'.

[2019-10-23 20:24] #11 closed

[2019-10-24 18:38] tobiasatw11k commented on #37
@taivu @CapitanFindusFI just updated to v.1.1.8. your are now able to listen for events named

- "stickyStatus" and
- "stickyPosition"

the following picture shows the available attributes of the events. first object shows attributes from the sticky position event, the second from sticky status.

<img width="295" alt="Bildschirmfoto 2019-10-24 um 17 48 59" src="https://user-images.githubuserconten

[2019-10-24 18:41] #29 closed

[2019-10-24 18:41] #19 closed

[2019-10-24 18:57] tobiasatw11k commented on #47
@dasp24 please try using the current latest version 1.1.8. if the error still occurs, please provide more information. which angular, typescript version are you using? what does your tsconfig.json look like?

[2019-10-24 19:01] #1 closed

[2019-10-24 21:40] tobiasatw11k commented on #30
fixed in 1.1.9

[2019-10-24 21:40] #30 closed

[2019-10-24 21:46] #33 closed

[2019-10-24 21:48] tobiasatw11k commented on #47
duplicate of #34

[2019-10-24 21:48] #47 closed

[2019-10-24 21:49] tobiasatw11k commented on #34
@brdzamasina @kaito3desuyo @comemanu please try using the current latest version 1.1.8. if the error still occurs, please provide more information. which angular, typescript version are you using? what does your tsconfig.json look like?

[2019-10-24 22:04] tobiasatw11k commented on #35
@aspramsh does this error still exist?

[2019-10-24 22:25] tobiasatw11k commented on #21
hello @aleesaan i took over this project from a former co-worker. if this is still an issue for you, please make a pr and I'll take a look.

[2019-10-24 23:12] tobiasatw11k commented on #31
@aleesaan does this issue still exist?

[2019-10-24 23:26] tobiasatw11k commented on #36
@mailiam @JaxonWright if you could provide an example of desired behavior and a counterexample i'll see what I can do to fix the problem.

[2019-10-25 00:17] tobiasatw11k commented on #22
@kamechb @norbertnagy issue is fixed in 1.1.9.
![no flash](https://user-images.githubusercontent.com/46442126/67534242-8153eb80-f6cd-11e9-8e7e-38d5841817b6.gif)

[2019-10-28 05:35] yahmez00 opened #53 "Upgrading to 1.1.9 breaks due to "Cannot read property 'offsetTop' of undefined"."
Hey there,

We've been using StickyThings in our app for a little while, and it was working great. However with the recent upgrade from 1.1.2 to 1.1.9, I get the following error and the sticky no longer works:

![Screen Shot 2019-10-28 at 4 23 35 pm](https://user-images.githubusercontent.com/5257788/67653869-77690b80-f99f-11e9-9219-ff7699e323af.png)

I noticed if I have the `scrollContainer` prope

[2019-10-28 15:20] ramtennae opened #54 "Missing null check for this.boundaryElement in 'reachedUpperEdge'"
Need to check that `this.boundaryElement` exists before attempting to access property `this.boundaryElement.offsetTop` to prevent `Cannot read property 'offsetTop' of undefined ` error.

https://github.com/w11k/angular-sticky-things/blob/f3bfae60e99f60cba3827a7e322d07fec8f7dd9a/projects/angular-sticky-things/src/lib/sticky-thing.directive.ts#L225

[2019-10-28 15:22] ramtennae commented on #54
Closing as duplicate of issue https://github.com/w11k/angular-sticky-things/issues/53  .

[2019-10-28 15:22] #54 closed

[2019-10-28 15:23] ramtennae commented on #53
I came across this issue as well.

Need to check that `this.boundaryElement` exists before attempting to access property `this.boundaryElement.offsetTop` to prevent `Cannot read property 'offsetTop' of undefined ` error.

https://github.com/w11k/angular-sticky-things/blob/f3bfae60e99f60cba3827a7e322d07fec8f7dd9a/projects/angular-sticky-things/src/lib/sticky-thing.directive.ts#L225

[2019-10-28 15:40] Enngage commented on #39
Hey, I seem to be having this issue too. I know for a fact it worked some time before, but doesn't with the latest version.

[2019-10-28 23:51] yahmez00 commented on #53
I did manage to make it work again by setting a boundary element, however I still got the same error message. Not sure if it is because I have some `*ngIf` statements on some of the elements though. Hopefully we get a fix soon 🤞.

[2019-10-29 22:41] tobiasatw11k commented on #53
@ramtennae @yahmez00 thanks for the hint and for using our library. i've fixed the issue. will release a new version later tomorrow.

[2019-10-30 12:50] #39 closed

[2019-10-30 13:58] #22 closed

[2019-10-30 14:00] tobiasatw11k commented on #39
@Krish-Kannaa @Enngage please check with version 1.2.1 - possible duplicate of #53

[2019-10-30 14:01] tobiasatw11k commented on #53
@ramtennae @yahmez00 published new version 1.2.1 - should fix the problem.

[2019-10-30 16:42] kievsash opened #55 "Sticky element unstick in wrong scroll position"
Hi!
Updated my angular to 8.3 and angular-sticky-thing to 1.2.1

Now marginTop works in a weird way: it catches sticky header good on scroll down. But then if I scroll up - my sticky element disappear only if scroll till parent top (scrollTop ==0) but not at position when it became sticky on scroll down (see gif)
![sticky_issue](https://user-images.githubusercontent.com/15340874/67879095-0cf1d000-

[2019-11-01 15:48] chriswks opened #56 "Window / Container resize event handling?"
First of all, thank you so much for saving me some work!!! Always super appreciated.

I'm curious if there's plans to handle resizing with a hostlistener or maybe a service to fire off a width recalc on a debounce or something? Currently am working around this by throwing the container to scrolltop = 0 but that's klunky and won't correct resize issues until resize end. So what we see is the `fixed

[2019-11-04 12:06] kanidjar commented on #55
Hi, same issue here.

![sticky-issue](https://user-images.githubusercontent.com/12607242/68119776-e09ed080-ff03-11e9-9082-2e4b2561841f.gif)

[2019-11-04 18:51] #21 closed

[2019-11-04 18:51] #31 closed

[2019-11-04 18:51] #34 closed

[2019-11-04 18:52] #35 closed

[2019-11-04 19:01] tobiasatw11k commented on #41
hello @michaelkrone, I set up a new project with ivy enabled but couldn't reproduce the issue. can you please try again with the current latest version and check if the error still exists.

[2019-11-04 19:18] tobiasatw11k commented on #55
hello @kievsash @kanidjar thanks for using our library. fixed the issue in v.1.2.2. please take a look, and let me be informed if the issue still exists.

[2019-11-05 08:48] kanidjar commented on #55
confirmed, issue fixed :)

thanks @tobiasatw11k

[2019-11-05 08:53] #55 closed

[2019-11-06 14:16] kievsash commented on #55
Unfortunately I still observe it
Difference only that now I should not scoll to top to make sticky element disappear but still it dissappears incorrectly

[2019-11-08 14:29] getsetbro commented on #25
It worked for me when I did it like this:
[code]

[2019-11-08 15:04] getsetbro opened #57 "Wait until scrolling stops in ie11?"
Everything is great in latest browser but janky in ie11. Can we add a debounce or wait until scrolling stops before positioning the element?

[2019-11-08 17:13] chriswks opened #58 "scrollContainer, boundary, display change issues"
1. ScrollContainer doesn't seem to be respected, to overcome it I input in an array of elements to the parent component that sums their offsetHeight's and then sets the marginTop of the directive. Which works well enough and allows to recalc the heights of the elements above it on resize.

2. ScrollContainer + Boundary doesn't invoke the fixed positioning at all (in the previous v1.1.9 when both w

[2019-11-11 14:22] #41 closed

[2019-11-11 14:22] #36 closed

[2019-11-11 15:11] tobiasatw11k commented on #57
hello @getsetbro, just tested with ie11 but wasn't facing any problems. what do you mean by _janky_? could you provide a screencast of your observed behavior and describe the expected behavior. thanks.

[2019-11-11 15:16] getsetbro commented on #57
By janky I mean glitchy and not smooth. In my medium/ large app there are
other polyfills to help ie11 do all the things. It's gotten to be too much
for ie11 so it would help if this module had an option to update the dom
less often. Thanks for your work!

[2019-11-11 20:13] tobiasatw11k commented on #58
Hello @chriswks, thanks for the input. We've just released v.1.2.3 where the scroll container issue is (almost) fixed, but note that until now boundary doesn't work inside scroll container. Also updated the README with a new example and a screencast for further information. Hope this already helps. Of course some pull requests would be also highly appreciated. 🤓

[2019-11-11 20:23] tobiasatw11k commented on #57
Hello @getsetbro we've just released v1.2.3. You are now able to set the property auditTime. The [auditTime](https://www.learnrxjs.io/operators/filtering/audittime.html) operator is then set on the source observable of the scroll event. Be aware, that values too high will also lead to glitchy behavior. Hope this helps and maybe you can tweak it a little bit with this option.

[2019-11-11 22:03] chriswks commented on #58
Awesome! I'll try grab the latest npm soon (it's not registering with an install and only ref'd of up to 1.2.2 at the moment so I'll just assume npm has to catch up or something). I'll try and carve out some time to go put in towards stuff like keeping a boundary container within a scroll-able element. Which I had started to look at but quickly found that even on a debounce doing an `element.getBo

[2019-11-12 16:04] getsetbro commented on #57
1. How do I use it?
2. I am wanting to set this only for the browsers that do not support position:fixed such as ie11.

[2019-11-12 16:24] tobiasatw11k commented on #57
You could use a variable in your component class where you use the sticky thing directive.

[code]

Then in the corresponding html you could bind the auditTime to the auditTime input of your sticky element(s).

[code]

[2019-11-12 16:28] tobiasatw11k commented on #58
Stimmt genau. 🍻 I'll close it for now and wait for specific pull requests. Thanks in advance with best regards.

[2019-11-12 16:28] #58 closed

[2019-11-17 22:02] MustafaElKhalifa opened #59 "Error: Can't resolve 'codelyzer/util/isNotNullOrUndefined'"
ERROR in ./node_modules/@w11k/angular-sticky-things/fesm5/w11k-angular-sticky-things.js
Module not found: Error: Can't resolve 'codelyzer/util/isNotNullOrUndefined' in 'E:\xampp\htdocs\webzz\dommania\shop.panel\node_modules\@w11k\angular-sticky-things\fesm5'
i ｢wdm｣: Failed to compile.

[2019-11-18 11:28] Terrafire123 opened #60 "Odd behavior inside the library."
Hi! I was looking over the code as reference for writing a library for my private work, and I noticed something odd.

sticky-thing.directive.ts

There appear to be two variables, by accident:

**this.sticky**
and
**this.isSticky**

It seems that **this.sticky** is *always* false if there's no **scrollContainer**.

Which means that if there's no container, then **determineElementOffsets()** won't r

[2019-11-20 11:04] AndrewN93 commented on #59
Hello! I have the same issue(
 Can't resolve 'codelyzer/util/isNotNullOrUndefined'

[2019-11-20 16:43] DrineTN commented on #59
I'm also dealing the same problem

ERROR in ./node_modules/@w11k/angular-sticky-things/fesm5/w11k-angular-sticky-things.js
Module not found: Error: Can't resolve 'codelyzer/util/isNotNullOrUndefined'

[2019-11-22 15:30] paulhewitt commented on #59
isNullOrUndefined is deprecated (https://nodejs.org/api/util.html#util_util_isnullorundefined_object). I am going to look into it and see if there is a quick, easy fix

[2019-11-22 15:43] paulhewitt commented on #59
Remove `import { isNotNullOrUndefined } from 'codelyzer/util/isNotNullOrUndefined';` from w11k-angular-sticky-things.js.

Change lines 345 and 347, removing the use of isNotNullOrUndefined:

`var reachedLowerEdge = isNotNullOrUndefined(this.boundaryElement) ? this.boundaryElement && window.pageYOffset + stickyElementHeight + marginBottom >= (originalVals.bottomBoundary - marginTop * 1.0) : undefin

[2019-11-26 10:36] #57 closed

[2019-12-06 10:09] adrienlamotte opened #62 "SSR - Angular Universal - window is not defined"
Hello !

I have an error when using your module with SSR :

[code]

Any way to fix this ?

Thank you !

[2019-12-10 23:14] tobiasatw11k commented on #62
Hello @adrienlamotte,

yes, you can fix it by checking the platform (server, browser) within your template.

THX @leo6104
@see [here](https://github.com/angular/universal/issues/830)

Kind regards,

@tobiasatw11k

[2019-12-10 23:14] #62 closed

[2019-12-10 23:57] tobiasatw11k commented on #59
Hello @MustafaElKhalifa, @AndrewN93, @DrineTN, @paulhewitt,

the problem seemed to be that ng-packagr wasn't able to guess the correct identifier for codelyzer/util/isNotNullOrUndefined when writing the UMD bundle. Providing the module identifier by using umdModuleIds in the library's package file should have solved the issue. Please check within v1.2.4.

@see [here](https://github.com/ng-packagr/

[2019-12-11 08:51] adrienlamotte commented on #62
@tobiasatw11k thank you for your answer, but this is not really a solution.

SSR is mostly used for SEO, so with your workaround the content of my stickyThing (wich is a sidebar menu) will not be rendered by the server...

Thank you for youyr help :)

[2019-12-11 09:35] tobiasatw11k commented on #62
@adrienlamotte maybe this will work for you then:

[code]

[2019-12-11 10:59] adrienlamotte commented on #62
Yes, that would work thank you.

But for further updates of you great module, you should try to handle that inside the directive directly :)

Thanks !

[2019-12-17 18:13] csimpi opened #63 "Infinite scroll event on Firefox"
Hi,
thank you for this awesome directive!

Interestingly, I'm having an issue with Firefox. When I scroll down the scrolling event is getting in an infinite loop, I have no idea why.

I've changed the source code and added a console.log message:

[code]
The SCROLL EVENT message is appering in the console thousands of times within a couple of sec.

I've tested sticky thing demo page with firefox an

[2019-12-27 21:27] nutphi commented on #59
Hello, you still need to remove
import { isNotNullOrUndefined } from 'codelyzer/util/isNotNullOrUndefined';
at line 7 on w11k-angular-sticky-things.js

[2020-01-03 14:31] jorgecasariego commented on #59
I'm still having this error.

[2020-01-08 18:38] jziggas commented on #59
@tobiasatw11k Yeah this is still happening with 1.2.4

[2020-01-14 11:00] DraganMileski commented on #59
+1

[2020-01-16 12:24] mikerudd commented on #59
Hi @tobiasatw11k, I've just tried to install 1.2.4 and also got this error:

[code]

[2020-02-07 09:31] FabienCH opened #64 "Internet Explorer 11 support"
Hello,

I am trying to use sticky-things with internet explorer 11 but I can't make it work (It works on other web browser). I've tried your demo site that does work so I'm thinking maybe in need some polyfills.

Here is the code (It was displayed as flexbox but I removed it just to make sure it does not interfer):
[code]
And here is the rendered HTML:
![image](https://user-images.githubuserconten

[2020-02-21 23:45] kalani96746 commented on #59
@tobiasatw11k ,  Can this be reopened.  It is still occurring in latest 1.2.4.  @paulhewitt 's fix works.

[2020-02-27 19:52] tobiasatw11k commented on #59
Hello @kalani96746 and others, sorry for the delayed response. Lost it on the radar during Christmas days. Issue is now reopened. If @paulhewitt makes a pull request, I'd be very happy to merge it and release a new version.

[2020-03-08 22:39] paulhewitt commented on #59
@tobiasatw11k I have been quite busy lately, but I will make a pull request as soon as I can! Hopefully it helps everybody out :)

[2020-03-10 02:35] kalani96746 commented on #59
@tobiasatw11k
@paulhewitt
PR: https://github.com/w11k/angular-sticky-things/pull/65

[2020-03-12 20:40] kanumuri9593 opened #66 "how can I stick a section to bottom"
I am trying to have a sticky section but margin-bottom not working

[2020-03-17 23:14] tobiasatw11k commented on #66
Can you provide some more information? Sample code etc.? That would be helpful. Thanks in advance.

[2020-03-18 10:20] tobiasatw11k opened #67 "Performance enhancement via Intersection Observer API"
Use of Intersection Observer API https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API to enhance performance.

=> Perform sticky "action" and events only on visible items.

PRs welcome. 🙃

[2020-03-20 00:17] Aterr commented on #64
Same here :(

[2020-04-01 22:02] jaspreetnabha commented on #66
Here is the sample snippet. The footer needs to stick to the bottom.

<section #boundary class="color-main">
  <div class="container py-3">
    <div class="row font-1">
      <div class="col-sm-3">link</div>
      <div class="col-sm-3">link</div>
    </div>
   </div>
  <div #spacer></div>

  <div class="container py-5">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing

[2020-04-03 14:03] jaspreetnabha commented on #66
@tobiasatw11k , please advise if it is possible to have sticky footer

[2020-04-08 12:08] ahadjithoma opened #69 "Angular 9, ivy compiler and deep imports warning"
When i am running `ng build` i get this warning

Angular: 9.1.1
sticky-things: 1.2.5
ivy compiler: enabled (default in angular 9)

[2020-04-09 17:52] museroom commented on #69
I fixed by: checkout their development branch, then npm run build:lib, then local install with npm install ../angular-sticky-thinks/dist/@w11k/angular-sticky-things

[2020-04-09 17:58] andreash92 commented on #69
@museroom  thanks for the feedback. I will give it a try although i don't want to have it locally

[2020-05-06 07:38] ccodina01 opened #70 "Does not Stick if page does not reload"
so this is my simplified code using Angular 9:

[code]

If i stay on the page the sticky works as charm.
When i go outside to add a new product to my cart and then return to the cart page to see the changes, the sticky element is stuck at its initial position. I have to reload (F5) to make the sticky element run as expected.

I feel this is a bad behaviour on the tool and i will be forced to creat

[2020-05-18 12:24] antitoine commented on #70
Same problem in a clean new project using router.
If the page with stickyThings is not loaded and comes after, with navigation for example, this doesn't work.

[2020-07-04 04:26] jordankkk commented on #69
any status? this can cause bundle size due to rxjs tree shaking :)

[2020-07-06 07:03] wimdetroyer opened #73 "feature request: angular 10 support"
upgrading from angular 9 -> 10 fails on angular-sticky-things with following error message:

![image](https://user-images.githubusercontent.com/58472100/86565103-8dd05980-bf67-11ea-88da-511d4b0d7ca9.png)

[2020-07-29 20:54] npoggenburg commented on #73
I support this request. Just learning angular, and its quite hard to do your things i am used to do on angular 10 :D

[2020-07-30 11:41] sengmann commented on #73
Please try version 1.3.0. It should fix the dependency warning and make sticky things play nice with Angular 10

[2020-07-30 11:42] #73 closed

[2020-07-30 11:43] sengmann commented on #69
Please try version 1.3.0. It should fix the dependency warning and make sticky things play nice with Angular 10. If you encounter problems feel free to open another issue

[2020-07-30 11:43] #69 closed

[2020-08-01 09:48] jordankkk opened #77 "Error: could not be resolved to an NgModule class"
ERROR in node_modules/@w11k/angular-sticky-things/lib/angular-sticky-things.module.d.ts:1:22 - error NG6002: Appears in the NgModule.imports of SharedModule, but could not be resolved to an NgModule class.

This likely means that the library (@w11k/angular-sticky-things) which declares AngularStickyThingsModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check

[2020-08-04 06:33] sengmann commented on #77
I have generated a new Angular project and installed our library. I get the following error messages:
[code]

I will investigate further.

[2020-08-04 07:48] sengmann commented on #77
Apparently our Gitlab CI task has done something wrong. I published version 1.3.1. This should hopefully resolve the problem. We have to clean the dist folder and the npm folder, then use build:lib to clean build the library. Then finally we can publish to npm.

[2020-08-04 07:49] #59 closed

[2020-08-04 12:29] pugooo commented on #77
@sengmann Thank you for the quick fix! For me it solves this issue.

[2020-08-06 06:23] jordankkk commented on #77
Thanks @sengmann! fixed now : )

[2020-08-06 06:23] #77 closed

[2020-08-29 18:39] felixunivers opened #78 "After installation project does not compile / errors"
After installing sticky-things with Angular 8 project, I get these error on project compilation:

ERROR in ../../node_modules/@w11k/angular-sticky-things/lib/sticky-thing.directive.d.ts:26:9 - error TS1086: An accessor cannot be declared in an ambient context.

26     set marginTop(value: number);
[code]
../../node_modules/@w11k/angular-sticky-things/lib/sticky-thing.directive.d.ts:28:9 - error TS

[2020-09-06 10:44] anjum121 commented on #78
If you set up   ` "skipLibCheck": true,` inside your tsconfig.json this issue will be solved

[code]

[2020-11-18 08:08] Xpressik commented on #64
Did you find any solution? Cause I am facing the same issue.  SCRIPT1002 on
![image](https://user-images.githubusercontent.com/19557028/99502589-9016db80-297d-11eb-8a7b-02f36d241a63.png)

[2020-12-18 19:50] snstarosciak opened #82 "Subsequent stickyThing causes headers to "sticky" further than they should"
Hey there, I'm using Angular 10 and one thing I've noticed is that I have multiple sticky headers setup, as I scroll down the page, each header "stickies" further down its container, instead of right at the top. If I have only a single sticky header on the page, it works fine, but if I have five, this problem seems to happen.

Each is setup similar to this:

[code]

I'm not sure if there is some a

[2021-02-06 12:17] jordankkk commented on #70
same here

[2021-02-12 10:26] fredericopavao commented on #70
Same!

[2021-04-03 00:44] jordankkk commented on #70
any status for this?

[2021-04-28 06:52] ThRintelen commented on #70
same here

[2021-05-12 06:29] misokim commented on #70
same here

[2021-05-14 09:16] lukasvida opened #91 "Angular 11 support"
Hello, just found this package and tried to install it in repository with Angular 11, but unsuccessfully.

Will this package support Angular 11?

[2021-06-23 21:10] bloodred17 opened #93 "Need smoother transition"
I was wondering if there is a way to make the transitions smoother when the sticky div starts sticking. I can see that in the demo page also the transition is quite abrupt.
How can we make the transitions smoother?

[2021-07-03 14:33] chrissena commented on #66
@tobiasatw11k I also would like a sticky footer. Any help with this would be great?

[2021-07-14 22:09] mharting commented on #70
I am having this problem as well. I looked into it and discovered that ngOnInit was completing before the sticky element was defined on the page and the elementOffsetY variable was getting set to the bottom of the page.

I found a solution. If you update this line https://github.com/w11k/angular-sticky-things/blob/master/projects/angular-sticky-things/src/lib/sticky-thing.directive.ts#L232 to read

[2021-07-15 06:47] kaihenzler commented on #70
@mharting could you please create a PR for this fix?
We'll try to integrate the PR as fast as possible

[2021-07-15 14:27] mharting commented on #70
@kaihenzler Here is the PR https://github.com/w11k/angular-sticky-things/pull/95. Thanks for pushing this through.

[2021-07-16 11:42] kaihenzler commented on #70
I published version `1.3.2` on npm. Thanks for the PR @mharting

Please let me know if you experience any further issues with this release

[2021-07-16 11:42] #70 closed

[2021-08-11 22:40] antonevane commented on #91
Angular 12.x support

[2021-08-11 22:41] antonevane opened #98 "Angular 12 Support"
Add Angular 12 support.

[code]

[2021-09-08 11:11] scubafly commented on #13
Got the same issue. I see the working example but somehow that does not work in my app. Must be something wrong with the versions I use or so. I'm getting the exact same error.
Using angular core 7.2.16

I don't see the directive being added in the working example?

[2021-09-27 14:45] #98 closed

[2021-09-27 14:45] #91 closed

[2021-09-27 14:46] kaihenzler commented on #91
Version 1.4.0 is published on npm with Angular 11/12 support

[2021-09-27 14:46] kaihenzler commented on #98
Version 1.4.0 is published on npm with Angular 11/12 support

[2022-03-22 21:36] chief10 opened #108 "Out of curiosity, why isn't this unit tested?"
Title says it all.

[2022-04-11 16:26] austinkurtti opened #110 "Angular 13 Support"
Attempting to install the latest version (1.4.0) of the sticky things package gives the following error with Angular 13:

`npm ERR! peer @angular/common@"^4.0.0 || ^7.0.0 || ^8.0.0 || ^9.0.0 || ^10.0.0 || ^11.0.0 || ^12.0.0" from @w11k/angular-sticky-things@1.4.0`

[2022-05-19 07:47] srikanthonl commented on #110
Any ETA for this please?

[2022-05-20 08:12] kaihenzler commented on #110
should be fixed in the latest version `1.5.0`

[2022-05-20 08:12] #110 closed

[2022-05-20 11:41] alitaksali53 opened #114 "Latest verison 1.5.0 is breaking build for angular v9"
ERROR in node_modules/@w11k/angular-sticky-things/lib/sticky-thing.directive.d.ts:83:21 - error TS2694: Namespace '"/node_modules/@angular/core/core"' has no exported member 'ɵɵFactoryDeclaration'.

[2022-05-27 06:44] srikanthonl commented on #110
@kaihenzler thanks for the v13 support. However, now I get this error when running npm install with 1.5.0:

npm ERR! Could not resolve dependency:
npm ERR! peer rxjs@"^6.0.0" from @w11k/angular-sticky-things@1.5.0
npm ERR! node_modules/@w11k/angular-sticky-things
npm ERR!   @w11k/angular-sticky-things@"^1.5.0" from the root project

Looks like RxJS v7 is not supported by this package. We work in a

[2022-05-30 06:28] kaihenzler commented on #110
@srikanthonl should be fixed with `1.5.1`